.header {
  width: 100%;
  background-color: #f8f9fa;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #343a40;
}

.search-form {
  width: 60%;
  max-width: 800px;
}

.search-input {
  font-family: inherit;
  width: 100%;
  padding: 0.5rem 1rem;
  border: 1px solid #ced4da;
  border-radius: 0.5rem;
  font-size: 0.8rem;
}

.search-input:focus {
  outline: none;
  border-color: #495057;
  box-shadow: 0 0 5px rgba(73, 80, 87, 0.5);
}

.header-buttons button {
  font-family: inherit;
  gap: 0.8rem;
  border: none;
  background: none;
  font-size: 1.2rem;
  cursor: pointer;
}

.login-button {
  color: #50575f;
}

.login-button:hover {
  color: #1b2633;
  transform: scale(1.1);
}

.chat-button {
  color: rgba(94, 92, 74, 0.932);
}

.chat-button:hover {
  color: rgba(32, 31, 16, 0.932);
  transform: scale(1.1);
}

.cart-button {
  color: rgba(94, 92, 74, 0.932);
}

.cart-button:hover {
  color: rgba(32, 31, 16, 0.932);
  transform: scale(1.1);
}
